* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #D2D3D7;
}
.container {
  width: 83%;
  margin-top: 20px;
  margin-bottom: 60px;

}
img {
  padding-bottom: 20px;
}
#all {
  height: 1240px;
  background-color: white;
  padding: 1px;
  border: 0.1px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#nav {
  background-color: #F06143;
  border: 0.1px solid #F06143;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.nav-link {
  color: white;
}
#border {
  border-left: 1px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
}
#padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.jumbotron {
  background-color: #FED035;
}
.width {
  padding-left: 50%;
}
.btn {
  background-color: #F06143;
  border-color: #F06143;
}
.box {
  width: 31%;
  float: left;
  background-color: #BDBEC2;
  margin-left: 1.8%;
  color: white;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 18px;
}
#dugmad {
  float: left;
  margin-left: 80px;

}
#dugme {
  padding-right: 20px;
  border-right: 2px solid #BFBEC5;
}
#left {
  padding-top: 10px;
  width: 50%;
  float: left;
  padding-left: 70px;
  font-size: 15px;
  color: #BFBEC5;
}
#right {
  float: right;
  padding-right: 100px;
}
.last {
  height: 300px;
  background-color: red;
  border: 1px solid white;
}
h5 {
  color: white;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#boja {
  color:#BFBEC5;
}
td {
  width: 50%;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
}
